body {
    background-color: rgb(3, 117, 188);
}

#texte {
    font-weight: bold;
}

.gras {
    font:italic;
}

.item-highlight {
    color: blue;
}

ul[target="a"] {
    color: yellow;
}

ul [type="date"] {
    background-color: green;

}