.container {
    background-color: gray;
}

.box {
    border: 1px;
    background-color: white;
}

.box-highlight {
    color:blue;
}

.list-item {
    color:greenyellow;
}

div {
    border: 10px;
}

p {
    color:brown;
}